:root {
    --color-theme: #196de3;
    --color-background: #f0f4f8;
    --color-white: #ffffff;
    --color-black: #333333;
    --color-border: #ccc;
    --color-text: #000000;
    --color-button-hover: #145bb5;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    font-family: 'Apple SD Gothic Neo', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 헤더 */
#main-header {
    width: 100%;
    background-color: var(--color-theme);
    color: var(--color-white);
    position: fixed;
    padding-left: 25px;
    padding-right: 2cqmin;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-content {
    max-width: 1200px;
    padding: 15px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-content h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-white);
}

#logo {
    text-decoration: none;
    color: var(--color-white);
    cursor: pointer;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    height: calc(100vh - 80px - 60px);
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
}

/* 왼쪽 영역 */
.left-frame {
    flex: 1.3;
    height: 100%;
    background-color: var(--color-white);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    padding: 0px 20px;
    box-sizing: border-box;
    position: relative;
    overflow-y: auto;
}

#input-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#input-form label {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}

#input-form textarea {
    width: 100% - 20px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    resize: none;
    background-color: var(--color-white);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    outline: none;
    line-height: 1.5;
}

#input-form button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    background-color: var(--color-theme);
    color: var(--color-white);
    border-radius: 10px;
    cursor: pointer;
    transition: var(--background-color) 0.3s ease;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
    box-sizing: border-box;
    text-align: center;
}

#input-form button:hover {
    background-color: var(--color-button-hover);
}

/* 오른쪽 영역(채팅) */
.chat-frame {
    flex: 2.5;
    height: 100%;
    background-color: var(--color-white);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
}

#chat-container {
    flex: 1;
    padding: 20px 0px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    word-wrap: break-word;
    line-height: 1.6;
    white-space: pre-wrap;
}

#input-container {
    display: flex;
    padding-top: 20px;
    border-top: 1px solid var(--color-border);
    align-items: center;
    gap: 10px;
}

#user-input {
    flex: 1;
    padding: 12px 16px;
    font-size: 14px;
    border: 1px solid var(--color-border);
    border-radius: 20px;
    resize: none;
    min-height: 40px;
    max-height: 100px;
    overflow-y: auto;
    line-height: 1.5;
    outline: none;
    background-color: var(--color-background);
}

#send-btn {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    background-color: var(--color-theme);
    color: var(--color-white);
    border-radius: 20px;
    cursor: pointer;
    transition: var(--color-background) 0.3s ease;
}

#send-btn:hover {
    background-color: var(--color-button-hover);
}

.message {
    width: 100%;
    border-radius: 15px;
    word-wrap: break-word;
    font-size: 14px;
    white-space: pre-wrap;
    box-sizing: border-box;
}

/* 유저 메시지 */
.sent {
    align-self: flex-end;
    background-color: var(--color-background);
    color: #000000;
    border-radius: 15px;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
    padding: 10px 10px;
}

/* 봇 메시지 */
.received {
    align-self: flex-start;
    color: #000000;
    border-radius: 15px;
    font-size: 14px;
    line-height: 1.6;
    word-wrap: break-word;
    box-sizing: border-box;
    padding: 0px 10px;
}

/* 봇 메시지 */
.received {
    align-self: flex-start;
    color: #000000;
    border-radius: 15px;
    font-size: 14px;
    line-height: 1.6;
    word-wrap: break-word;
    box-sizing: border-box;
    padding: 0px 10px;
}

/* 봇 메시지 버튼 컨테이너 */
.chat-button-container {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

/* 봇 메시지 버튼 */
.chat-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
}

.chat-button:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

.copy:active {
    background-color: #8bbfe9;
}

.liked {
    background-color: #8bbfe9;
}

.sad-liked {
    background-color: #8bbfe9;
}

/* 푸터 */
#main-footer {
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    padding: 15px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.footer-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content p {
    margin: 0;
    font-size: 14px;
}
